:root {
    --backgroundColour: #9ccfd8;
    --barColour: #31748f;
    --textColour: #555169;
    --cartColour: #e0def4;
    --titleColour: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
}

body {
    background-color: var(--backgroundColour);
    color: var(--textColour);
}

ul {
    padding: 1rem;
    list-style-type: none;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: var(--titleColour);
    background-color: var(--barColour);
    font-size: 4rem;
}

.shop-items {
    display: flex;
    flex-direction: column;
}

.cart {
    background-color: var(--cartColour);
}

.cart-row {
    display: flex;
    justify-content: space-evenly;
}

span {
    font-size: 0.75rem;
}

footer {
    background-color: var(--barColour);
    color: var(--titleColour);
    font-size: 0.5rem;
    padding: 0.5rem;
}

@media screen and (min-width: 640px) {

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .shop-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
    }
}